<div class="jumbotron">
  <h1>'Piedra Papel o Tijera!</h1>
  <p class="lead">
    <img src="images/xyz.png" alt="I'm Yeoman"><br>
    Piedra, papel o tijera es un juego infantil, un juego de manos en el que existen tres elementos. La piedra vence a la tijera rompiéndola, la tijera vence al papel cortándolo y el papel vence a la piedra envolviéndola, dando lugar a un círculo o ciclo cerrado , que caracteriza al juego.  
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>